.nav_main{
    background-color: black;
    display: block;
    height: 60px;
    text-align: left;
    display: flex;
    flex-direction: row;
}
.main{
    color: white;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;

}
.lnk{
    padding: 10px;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
}

.contacts{
    padding-top: 6px;
    text-align: right;
    display: block;
    width: 100%;
}

.icon{
   display:inline;
   margin:1.3rem;
}